// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$white: #FFFFFF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #333;
$bg: #fce594;
$light-gray: #fbfbfb;
$brand-prmary: #A8D0E6;

// Decide colours
$d-white: #FFFFFF;
$d-black: #272727;
$d-black-t1: rgba(13, 13, 13, 0.1);
$d-blue: #FFB330;
$d-red: #F95738;
$d-red-t: rgba(249, 87, 56, 0.7);
$d-green: #70AE6E;
$d-green-t: rgba(112, 174, 110, 0.5);
$d-solid-btn: $d-blue;

// Style Variables
$d-border-radius: 8px;
