html, body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  color: white;
}
h2{
  margin-top: 20px;
  color: $d-white;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

// ::-webkit-scrollbar {
// width: 8px;
// height: 8px;
// }

// ::-webkit-scrollbar-track-piece {
// background-color: $d-black-t1;
// -webkit-border-radius: 6px;
// }


// ::-webkit-scrollbar-button:start:decrement,
// ::-webkit-scrollbar-button:end:increment  {
// height: 30px;
// display: block;
// background-color: transparent;
// }

// .container {
// }

.jumbotron {
  font-family: 'Montserrat', sans-serif;
  padding: 14vh 0;
  background-color: $bg;
  background-size: cover;
  text-align: center;
  color: $d-white;
  position: relative;
  border-radius: 0px;
  h2 {
    color: $d-white;
  }
}

.jumbotron h1 {
  font-size: 70px;
  margin-bottom: 0;
}

.jumbotron p {
  font-size: 20px;
  margin: 0 0 30px;
}

.button {
  display: inline-block;
  border: 2px solid #fff;
  border-color: $d-white;
  padding: 10px 20px;
  color: $d-white;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 1rem;
}

.button:hover {
  background: $d-white;
  color: $d-white;
}

.btn-group-vertical a, .btn-group-vertical button {
  width: 100%;
}

.card{
  border-radius: 8px;
}

.rounded-decide {
  border-radius: 10px;
}

.overlap {
  position: absolute;
  z-index: -1;
}

.fill {
    min-height: 100vh;
    height: 100vh;
}

.mobile-frame {
  // max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.logo-body {
  height: 30px;
  // filter: invert(1);
  margin-left: 2px;
}
