<% event.invited_users.each do |user| %>

  <% if user.invitation_accepted_at %>
    <div class="notification mr-4">
      <div class="marker">
        <h3><%= user.name[0].capitalize %></h3>
      </div>
      <div class="notification-content text-break">
        <p><small><%= user.name %></small></p>
      </div>
    </div>

  <% else %>

    <div class="notification mr-4">
      <div class="marker avatar-large-pending">
        <h3><%= user.name[0].capitalize %></h3>
      </div>
      <div class="notification-content text-break">
        <p><small><%= user.name %></small></p>
      </div>
    </div>

  <% end %>
<% end %>
