<div class="row d-flex justify-content-between align-center" style="padding-left: 15px; padding-right: 15px;">
  <%= link_to image_tag("logo-crop.png", class: "logo-body mb-4"), "/" %>
  <%= link_to image_tag("circle-add.png", class: "plus-body mb-4"), new_event_path %>
</div>
