<div class="card mb-3">
  <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/cc/0a/dc/restaurant-chocolat.jpg" style="height: 350px; border-radius: 8px 8px 0px 0px !important;" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">See you there!</h3>
    <p><i class="fas fa-external-link-alt mr-3"></i><%= link_to @result.restaurant.name, @result.restaurant.yelp_id %></p>
    <p><i class="fas fa-calendar-day mr-3"></i><%= @result.event.start_at %></p>
    <p><i class="fas fa-utensils mr-3"></i><%= @result.restaurant.description %></p>
    <p><i class="fas fa-thumbtack mr-3"></i><%= @result.restaurant.location %></p>
    <% @result.restaurant.ratings.to_i.times do  %>
      <i class="fas fa-star"></i>
    <% end %>
  </div>
</div>
