<h1>Result!</h1>
<p>Yelp ID:<%= @result.restaurant.yelp_id %></p>
<p>Name: <%= @result.restaurant.name %></p>
<p>Pizza: <%= @result.restaurant.description %></p>
<p>Location: <%= @result.restaurant.location %></p>
