<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<p><%= @event.start_at %></p>

<ul><strong>Cuisines</strong>
  <% @event.cuisine_events.each do |cuisine_event|%>
  <li><%= cuisine_event.cuisine.name %></li>
  <% end %>
</ul>


<p>Create invitation here</p>
