<section class="jumbotron">
  <h1><%= image_tag "https://res.cloudinary.com/rithvik/image/upload/v1591708545/thedecision_5_uprpsf.png" %></h1>

    <%= link_to "LOG IN", new_user_session_path, class: "button" %>
    <br>
    <br>
    <%= link_to "SIGN UP", new_user_registration_path, class: "button" %>

</section>
