<section class="jumbotron">
  <h1><%= image_tag "https://res.cloudinary.com/rithvik/image/upload/v1591708545/thedecision_5_uprpsf.png" %></h1>
  <p>Cure Decision Fatigue</p>
  <%= link_to "make some plans already!", new_event_path, class: "button" %>
</section>
