<body>
   <div class="x">
      <%= image_tag("team_arie.jpg", class: "y")  %>
      <%= image_tag("team_jason.jpg", class: "y")  %>
      <%= image_tag("team_lacy.jpg", class: "y")  %>
      <%= image_tag("team_rithvik.jpg", class: "y")  %>
  </div>
    <div class="container">
      <div class="card-blue something" id="introduction">
        <h1>404 MOTHER FUCKERS</h1>
        <h1 class="img-squarish rotate" width="100px" height="100px" style="color: yellow;">GOODBYE MOTHER FUCKERS</h1>
      </div>
      <div class="card-blue radar">
          <p>DON'T MESS WITH THE 404 DREAM TEAM</p>
      </div>
    </div>
  </body>
</html>
