<section class="jumbotron fill">
  <h2 class ="center mb-4">Welcome back, <%= @user.name %></h2>
  <h1><%= image_tag "https://res.cloudinary.com/rithvik/image/upload/v1591708545/thedecision_5_uprpsf.png", class: "img-fluid" %></h1>
  <div class= "btn-group-vertical mt-4">
     <%= link_to "Manage Events", events_path, class: "button rounded-decide" %>
     <%= link_to "Create New Event", new_event_path, class: "button rounded-decide" %>
  </div>
</section>
