.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large-confirmed {
  width: 60px;
  border-radius: 50%;
  border: medium solid $d-white;

}

.avatar-large-pending {
  filter: opacity(0.5);
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.notification-container {
  height: 100px;
  overflow: auto;
  overflow-y: hidden;
}

// .marker-container {
//   width: 60px;
//   height: 60px;
// }

.marker {
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 50%;
  font-weight: bolder;
  line-height: 44px;
  border: 3px solid white;
  h3 {
    text-align: center;
    line-height: 42px
  }
}

.notification {
  padding: 0px, 25px, 25px, 25px;
  // background-color: $d-white;
  // display: flex;
  // align-items: center;
  // margin: 0px 25px 15px 0px;
  width: 60px;
  height: 60px;
  text-align: -webkit-center;
  // margin-top: 5px;
  // margin-bottom: 5px;
  // background: white;
  // border-radius: 10px;
  // text-align: center;
}

.notification .notification-content {
  // padding: 0 0px;
  // overflow-wrap: anywhere;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  // color: $body-color;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  // color: $body-color;
  // margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  // color: #555555;
}
