.btn {
  font-family: Montserrat;
  font-weight: bolder;
}

.btn:hover {
    color: $d-body;
    text-decoration: none;
}

.d-btn-dark {
  font-weight: bold;
  color: $d-white;
  // background-color: $d-solid-btn;
  border-color: $d-white;
  border-radius: $border-radius-lg;
}

.d-btn-light {
  font-weight: bolder;
  color: $d-black;
  background-color: $d-white;
  // border-color: $d-solid-btn;
  border-radius: $border-radius-lg;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2)
}

.d-btn-transparent {
  font-weight: bolder;
  color: $d-black;
  background-color: $d-body-transparent;
  // border-color: $d-solid-btn;
  border-radius: $border-radius-lg;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2)
  }

.d-btn-transparent:hover {
    color: #FFA500;
    text-decoration: none;
  }

.d-btn-red {
  font-weight: bolder;
  color: red;
  background-color: $d-body-transparent;
  border-color: $red;
  border-radius: $border-radius-lg;
}

.d-btn-red:hover {
    color: white;
    background-color: red;
    text-decoration: none;
  }

.d-btn-white {
  font-weight: bolder;
  color: white;
  background-color: $d-body-transparent;
  border-color: $d-white;
  border-radius: $border-radius-lg;
}

.d-btn-red:hover {
    color: $d-body;
    text-decoration: none;
  }

.email-input-form {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  width: 100% !important;
  font-size: normal;
  padding: 7px;
  border: none;
}

.email-input-btn {
  font-weight: bolder;
  text-align: center;
  color: $d-body;
  background-color: $d-white;
  // border-color: $d-white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.modal-content {
  background: $d-body;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
  justify-content: space-evenly;
  }
