.d-btn-dark {
  font-weight: bold;
  color: $d-white;
  // background-color: $d-solid-btn;
  border-color: $d-white;
  border-radius: $border-radius-lg;
}

.d-btn-light {
  font-weight: bold;
  color: $d-black;
  background-color: $d-white;
  // border-color: $d-solid-btn;
  border-radius: $border-radius-lg;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2)
}

.email-input-form {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  width: 90%;
  font-size: normal;
  padding: 7px;
  border: none;
}

.email-input-btn {
    font-weight: bold;
    color: $d-body;
    background-color: $d-white;
    // border-color: $d-white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    width: 20%;
}
