// Form design
@media (min-width: 768px) {
  .submit{
    position:relative;
  }
}

// label
.label{
  font-size:22px;
  font-weight:bold;
}

.submit{
  @media (min-width: 768px) {position:relative;}
  position: fixed;
  left:0;
  right:0;
  bottom: 0;
  text-align: center;
  background-color: #181818;
  width: 100%;
  height: 52px;
  color: $d-body;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;

}

.form-control{
  border-radius: 0;
  border-bottom: $d-white solid 2px;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  background-color: transparent;
  padding:0;
  color:white;
  @media (min-width: 768px) {width:100%}
  // width:80%;
  &::placeholder{
    color:white;
  }

}

.form-control:focus{
    color: #495057;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    background-color: transparent;
}

.form-width {
  width: 100%;
}
// .input-prepend .add-on,
// .input-append input {
//   float: left;
// }


.form-row{
  width:70%;
}


#invite_email {
  border-radius: 7px;
  width: 95%;
  font-size: normal;
  padding: 10px;

}

// font awesome styling
.font-icons{
  .fa-arrow-right{
    position: absolute;
  }
}

.icon-field{
  position:relative;
  width: calc(100% - 40px);
  &:before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f061";
    position: absolute;
    bottom: 4px;
    left: 0;
  }


  .form-control{
    margin-left:40px !important;
    .datepicker{
      width: 100% !important
    }
  }
  .select2-search__field{
   margin-left:40px !important;
  }
}

.icon-field-complete:before{
  content: "\f00c";
}

.form-group.event_start_at.icon-field{
  width: 100%;
  margin-bottom: 64px;
}
.bot-marg{
 margin-bottom: 64px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
     -webkit-box-shadow: 0 0 0 50px #62dea8 inset !important;
   }

#invite_email:-webkit-autofill,
#invite_email:-webkit-autofill:hover,
#invite_email:-webkit-autofill:focus,
#invite_email:-webkit-autofill:active  {
     -webkit-box-shadow: 0 0 0 50px #ffffff inset !important;
   }

