.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.navbar {
  background: $gray;
  padding-left: auto;
  padding-right: auto;
  h3 {
    color: $d-white;
  }
}

