.navbar-lewagon {
  justify-content: space-between;
  background: $bg;
  background: transparent;
  // position: fixed;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  position: relative;
  z-index: 10;
}

.navbar-lewagon{
  z-index: 10;
}


.navbar-brand {
  width: 110px;
  position: relative;
}

.dropdown-menu-left{
  left:10px;
}
.navbar {
  background: transparent;
  padding-left: auto;
  padding-right: auto;
  h3 {
    color: $d-white;
  }
  // position: fixed;
  z-index: 10;
}

.navbar-nav .dropdown-menu{

}
