.select2-container--default .select2-selection--multiple{
  background-color: transparent;
  border-style: hidden;
  border-radius: 0;


}
.select2-container--default.select2-container--focus .select2-selection--multiple{
  background-color: transparent;
  border: none;
  // outline:none;
}

.select2-container--default .select2-search--inline .select2-search__field{
  padding-bottom: 2px;
  border-bottom: $d-white solid 2px;
  @media (min-width: 768px) {width: 100% !important}
  width:100% !important;
}
.select2-dropdown{
    background-color: #265440f2;
    border: 0;
    padding: 10px;
    width: 72.5vw !important;
    margin-left: 40px;
    border-radius: 10px;
    &::placeholder{
    color:white;
  }
}
.select2-container--default{
  .select2-search--dropdown .select2-search__field{
    background: transparent;
    border-style:none;
  &:focus{
    border-style:none;
  }
  }
}
.select2-container--default .select2-selection--single{
  background: transparent;
  border: 2px solid #ffffff;
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  margin-left: 40px;
  border-radius: 0;
  width:100%;
  .select2-selection__placeholder{
    color:$d-white;
  }

}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background-color: #3d9770;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: $gray;
  border: 0;
  padding:1px;
}

.select2-default {
  color: white !important;
}

.select2-container--default .selection .select2-selection--multiple {
   // background-color:white;
   // color:red !important;
  }

.select2-search__field::placeholder {
    color: white !important;
}

.select2-container--default .select2-results__option--selected{
  background-color: #3d9770;
}

.select2-container:focus, .select2-selection:focus, .select2-search__field:focus{
  outline:none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: $d-white;
  padding-left: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  right: -43px;
}
